.bookCards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:30px;
    
}
.book {
    background-color: pink;
    padding-left: 10px;
}

.newBook {
    background-color: yellow;
    border:none;
    padding:10px;
    border-radius: 3px;
    margin-top: 10px;
}

.DeleteBookButton {
    background-color: yellow;
    border:none;
    padding:10px;
    border-radius: 3px;
    margin-bottom: 10px;
}
